@import "../css/typography.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    /* font: 112.5%/1.45em georgia, serif, sans-serif; */
    box-sizing: border-box;
    overflow-y: scroll;
}

body {
    color:black;
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    padding-top: 3.5rem;
    /* word-wrap: break-word; */
    /* font-kerning: normal; */
}

h1 {
    font-size: 2.5rem;
    margin-top: 50px;
    font-family: "Montserrat", Sans-serif;
    font-weight: 900;
}
h2 {
    font-size: 2rem;
    margin-top: 50px;
    font-family: "Montserrat", Sans-serif;
    font-weight: 700;
}
h3 {
    font-size: 1.3rem;
    margin-top: 20px;
    font-family: "Montserrat", Sans-serif;
    font-weight: 600;
}
h4 {
    font-size: 1.2rem;
    margin-top: 20px;
    font-family: "Montserrat", Sans-serif;
    font-weight: 500;
}
h5 {
    font-size: 1.1rem;
    margin-top: 20px;
    font-family: "Montserrat", Sans-serif;
    font-weight: 400;
}
h6 {
    font-size: 1rem;
    font-family: "Montserrat", Sans-serif;
    font-weight: 400;
}
a {
    color:black;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
    outline-width: 0;
    color:#FF8228;
    /* border-bottom: 1px solid #ddd; */
}
ul li{
    margin-bottom: 5px;
}

/* $primary: black,
$secondary: #383838,
$success: #2C9901,
$info: #006EF5,
$warning: #FF8228,
$danger: #006EF5,
$light: white,
$dark: black, */